.body {
  position: relative;
  background: #191765;
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover {
  color: #6c63b9;
  text-decoration: underline;
}


a{
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: #9390FF;
  margin-top: 80px;
}


.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2px;
  border: 1px solid var(--border-color);
  background: var(--footer-background);
  color: var(--footer-font);
  font-size: 14px;
}

.nav-toggle {
  display: none;
}

.menu_item {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 10px 0 10px 30px;
}

.skill-name {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #9390ff;
}

.my-name {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

.menu_item:hover {
  text-decoration: underline;
}


.left,
.right {
  display: flex;
}

.right {
  margin-right: 30px;
}

.intro {
  display: flex;
  flex-direction: column;
}

.menu_mail {
  display: block;
  padding: 10px 0 10px 30px;
}

.big-name {
  position: static;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
  margin: 12px 0;
  flex: 2;
}

.small-name {
  font-weight: 500;
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 44px;
  display: flex;
  align-self: center;
  text-align: center;
  color: #edecff;
  flex: 1;
}

.can-do {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #b3bac5;
  border-bottom: 1px solid #646369;
  padding-bottom: 70px;
}


.circle-1 {
  position: absolute;
  width: 184px;
  height: 184px;
  left: 69px;
  top: 237px;
  background: #edecff;
  filter: blur(50px);
}

.circle-2 {
  position: absolute;
  width: 226px;
  height: 226px;
  left: 1143px;
  top: 546px;
  background: #edecff;
  filter: blur(50px);
}

.circle-3 {
  position: absolute;
  width: 57.53px;
  height: 700.92px;
  left: 25px;
  top: 745px;
  background: #EDECFF;
  filter: blur(50px);
  transform: rotate(-36.38deg);
}

.circle-4 {
  position: absolute;
  width: 108px;
  height: 402px;
  left: 1296px;
  top: 1600px;
  background: #EDECFF;
  filter: blur(50px);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
}

.circle-5 {
  position: absolute;
  width: 308px;
  height: 155px;
  left: 0;
  top: 2279px;
  background: #EDECFF;
  filter: blur(50px);
}

.circle-6 {
  position: absolute;
  width: 74px;
  height: 600px;
  left: 1160px;
  top: 2471px;
  background: #EDECFF;
  filter: blur(50px);
  transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);}


.main-section {
  display: flex;
  flex-direction: column;
  width: 448px;
  justify-self: center;
}

.main-section > * {
  margin-right: 1.25em;
}

.main {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #646369;
}

.main > * {
  margin-right: 1.25em;
}

.main-section ul {
  list-style: none;
  padding-left: 0;
}

.main a {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  margin: 8px;
  display: flex;
  justify-content: space-between;
}

.items {
  position: static;
  width: 68.08px;
  font-size: 13.1389px;
  line-height: 25px;
  align-items: center;
  color: #fff;
}

.box {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: wrap;
  min-height: 213px;
  flex-direction: column;
  padding-right: 56px;
  padding-top: 30px;
}

.social {
  display: flex;
  justify-content: center;
  margin-left: -75px;
}

.social-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: space-around;
}

.social-items {
  width: 40px;
}

.main-icons{
  display: flex;
  justify-content: space-evenly;
  
  }

  .recent-work{
    display: flex;
  align-items: center;
  color: #9390FF;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 114px;
  border-bottom: 1px solid #646369;
      align-self: normal;
      margin: 0px 175px;
      }
  
  .my-works{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .all-items{
    flex-wrap: wrap;
    display: flex;
    padding: 34px;
  }
  
  .works{
    flex: 1 1 50%;
    align-self: center;
    max-width: 900px;
  }
  
  
  .work-name{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  
  }
  
  .work-des{
   font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #DFE1E6;
  }
  
  .work-lang{
    gap: 30px;
   display: flex;
  }

@media only screen and (max-width: 768px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .right {
    display: none;
  }

  .nav-toggle {
    display: block;
  }

  .main {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .main > * {
    margin-right: 1.25em;
  }

  .list {
    flex: 1 1 50%;
  }

  .circle-1 {
    width: 160px;
    height: 160px;
    left: -106px;
    top: 0;
    background: #edecff;
    filter: blur(50px);
  }

  .circle-2 {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 339px;
    top: 495px;
    background: #edecff;
    filter: blur(50px);
  }
  
  .arrow-left{display: none;}

  .main-icons{
    display: flex;
    flex-direction: column;
    justify-self: center;   
    gap: 30px;
    }
}
